.loader-wrapper {
  position: relative;
  width: 100%;
}
.loader {
  top: 50px;
  left: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(lightgray, transparent);
  animation: rotating 1s linear infinite;
}

.loader::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: white;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
